/* === Utility Classes === */

.gap-32 {
  gap: 32px;
}

/* === Custom Utility === */
.cpb-90 {
  padding-bottom: 90px;
}

.cbtn {
  cursor: pointer;
}
.cpy-100{
padding: 100px 0;
}
.cpy-120{
padding: 120px 0;
}
.cpy-150{
padding: 150px 0;
}
.cpb-172{
padding-bottom: 172px !important;
}
.cdp-t-60{
  top: 60px !important;
}
.cdp-b-60{
  bottom: 60px !important;
}
.cdp-t-130{
  top: 130px !important;
}
.cdp-b-130{
  bottom: 130px !important;
}